* {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height:14px;
  letter-spacing: 1pt;
  font-size:15px;
  color: #ffffff;
}

input, button {
  color: #262626;
}



.bod {
  display:flex; 
  flex-direction: column; 
  height: 100%;
  background-color:#262626;
}

.toolbar {
  display:flex;
  background-color: #262626;
  flex-flow: wrap;
  justify-content: space-evenly;
  padding:25px;
  max-width: 1080px;
}

.toolbar button, input, select, select option {
padding:5px;
margin:10px;
color:#262626;
font-weight: 600;
letter-spacing: 1pt;
}

.toolbar div {
display:flex;
}

p {
line-height:22px;
letter-spacing: 1pt;
font-size:20px;
padding:5px;
}

.toolbar {
vertical-align: center;
}

.canvas-container {
overflow: hidden;
width: fit-content;
margin: auto;
}

.overall-container {
margin:auto;
position:relative;
}

.btn {
  position: relative;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #27ae60;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}

.scoreboard-container {
overflow:hidden;
max-height:500px;
overflow: hidden;
width: 176px;
max-height: 248px;
position: absolute;
top: 600px;
left: 40px;
overflow: hidden;
width: 176px;
position: absolute; 
}

.score {
  /* bottom: 60px; */
  /* padding-top: 50px; */
  color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  max-height:inherit;
  overflow-y:scroll;
  
}

.score h4 {
  margin:0;
  font-size: 10px;
}

.square {
  height:10px;
  width:10px;
  margin-right:10px;
}

.subscore {
  display:flex;
  padding-top:10px;
}


/* Checkbox by some guy on codepen: 
https://codepen.io/ngc-yn/pen/vYYXRoQ
*/

input[type=checkbox] + label {
margin: auto;
cursor: pointer;
padding:5px;
padding-top:7.5px;
}

input[type=checkbox] {
display: none;
}

input[type=checkbox] + label:before {
content: "\2714";
border: 0.1em solid #ffffff;
border-radius: 0.2em;
display: inline-block;
width: 1em;
height: 1em;
padding-left: 0.2em;
padding-bottom: 0.3em;
margin-right: 0.2em;
vertical-align: bottom;
color: transparent;
transition: .2s;
}

input[type=checkbox] + label:active:before {
transform: scale(0);
}

input[type=checkbox]:checked + label:before {
background-color: MediumSeaGreen;
border-color: MediumSeaGreen;
color: #fff;
}

input[type=checkbox]:disabled + label:before {
transform: scale(1);
border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
transform: scale(1);
background-color: #bfb;
border-color: #bfb;
}